* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ============================== 
            header
===============================*/

header {
  width: 100%;
  height: 100vh;
}

.navbar-brand {
  font-size: 3rem;
}
.navbar-nav li a {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-transform: uppercase;
}

.navbar-nav li a:hover {
  color: red;
  /* problem */
}

.nav-icon a {
  margin: 0 1rem;
  font-size: 2rem;
  color: white;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.nav-icon a:hover {
  color: orangered;
}

.hero-section {
  /* background-image: url(../images/hero-bg.jpg); */
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../images/hero-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}

.hero-title p {
  font-size: 2rem;
  text-align: center;
  color: gray;
}
.hero-title h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  margin: 3rem 0;
  text-align: center;
}

.btn {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5rem;
}

.simple {
  margin: 0 2rem;
}
.simple:hover {
  color: red;
}

.btn-colorful {
  border: 0.2rem solid red;
  color: red;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  display: inline-block;
}

.btn-colorful:hover {
  background: white;
  color: gray;
  border: none;
  outline: none;
}

/* ==============================
              membership section
================================== */
.membership-section {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.869);
}

.membership {
  color: white;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
}
.new-member {
  width: 30%;
  margin-right: 5rem;
}
.section-heading {
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}

.new-member h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.new-member p {
  font-size: 2rem;
  color: gray;
  line-height: 3.7rem;
}

.big-btn {
  display: inline-block;
  background-color: orangered;
  width: 100%;
  margin: 2rem 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.big-btn:hover {
  background-color: #fff;
}

.gap {
  position: relative;
  width: 1rem;
  height: 30rem;
  border-right: 1px solid rgba(255, 255, 255, 0.455);
}

.working-schedules {
  width: 30%;
  margin-left: 5rem;
}

.working-hour-1,
.working-hour-2,
.working-hour-3 {
  margin: 2rem 0;
}

.working-hour .day {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2rem;
}

.working-hour .hour {
  color: gray;
  font-size: 2rem;
}

/*============================== instructor section 
=============================== */
.instructor-section {
  height: 100vh;
  width: 100%;
  background-color: #ddd;
  padding: 15rem 0;
}

.instructor-details {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

.instructor-info {
  width: 35%;
}

.instructor-info p {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 300;
}

.instructor {
  width: 25rem;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.instructor-card {
  width: 45%;
}

.instructors {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.instructor-name h1 {
  font-size: 3rem;
  font-weight: 900;
}

.instructor-name p {
  font-size: 1.8rem;
}

.instructor-profile {
  display: flex;
  flex-direction: column;
}

.instructor-profile a {
  font-size: 2rem;
}

/* ==================================
  gym class sectiono
==================================*/

.gym-class-section {
  height: 100vh;
  width: 100%;
  padding: 5rem 0;
}
.heading-para {
  font-size: 2.5rem;
  color: gray;
  font-weight: 400;
  margin-bottom: -0.5rem;
  text-align: center;
  margin: 0.5rem 0;
  text-transform: capitalize;
}
.gym-class-section h1 {
  text-align: center;
}

.class-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
}

.class {
  width: 25%;
  /* height: 40vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  margin: 0 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.class-img img {
  width: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.class-info {
  padding: 3rem 2rem;
  display: flex;
  /* align-items: baseline; */
}

.class-name h2 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.class-name p {
  font-size: 2rem;
}

.class-name .trainer {
  font-weight: 700;
  color: gray;
}

.class-description {
  font-size: 2rem;
}
/* 
.price {
  background-color: orangered;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */

.price h2 {
  font-weight: 900;
  text-align: center;

  color: white;
  background-color: orangered;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1.5rem 0;
}

/* workout timetable */
.timetable-section {
  width: 100%;
  height: 100vh;
  padding: 10rem 0;
  background: #000;
  color: #fff;
}

table {
  margin: 5rem auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgba(128, 128, 128, 0.276);
}
th {
  height: 6rem;
  font-size: 2rem;
  font-weight: 700;
  background: orangered;
  border: 2px solid black;
}

th,
td {
  text-transform: uppercase;
  text-align: center;
  width: 18rem;
}

td {
  height: 8rem;
}

tr:hover {
  background: #333;
}

td p {
  font-size: 1.6rem;
  color: gray;
  font-weight: 600;
}

.time {
  background: orangered;
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid black;
}
